html{
  font-size: 16px;
}

.container{
  display: flex;
  width: 100%;
}
/* Header */
header{
  display: inline-block;
  background-color: white;
  height: 4rem;
  width: 100%;
  margin-bottom: 1rem;
}

header .logo{
  display: flex;
  margin-bottom: 1rem;
}

header img{
  display: inline-block;
  padding-left: 1.5rem;
}

nav{
  display: inline-block;
}

nav a{
  padding: 1rem;
  color: black;
}
nav span{

}

header nav{
  justify-content: flex-end;
}

h1{
  font-size: 2rem;
}

/* Body1 */
.body1{
  background-color: #babbbc;
  display: flex;
}

.body1 img{
  width: 60%;
  padding: 2rem 1.5rem;
}

h2{
  font-size: 4rem;
}

p{
  justify-content: flex-start;
}

.button{
  margin-top: 2rem;
  font-size: 1.5rem;
  border: 1px solid black;
  padding: 1rem;
  text-align: center;
  width: 25rem;
  background-color: #707070;
  color: white;
  transition: color 0 ease-in 100ms;
  font-family: "Montserrat:700" serif;
}

.button:hover{
  color: black;
  background-color: white;
}

.button:active{
  color: blue;
}

.button:visited{
  color: maroon;
}

.banner1{
  display: inline-flex;
  padding-left: 1.5rem;
  justify-content: center;
  flex-direction: column;
}

/* Body Pt. 2 */
.body2 img{
  padding: 2rem 1.5rem;
  width: 100%;
}

.content2{
  width: 60%
}

.banner2{
  border: 1px grey solid;
  margin-left: 2rem;
  width: 40%;
  display: inline-block;
}

.info2 img{
  width: 35%;
  margin: auto;
}

.info2{
  padding-left: 1rem;
  display: flex;
}

.title{
  font-weight: bold;
  font-size: 1.5rem;
}
.info-content {
  justify-content: center;
}

h3{
  font-size: 4rem;
  font-weight: bold;
}

.quote{
  font-size: .75rem;
  padding-bottom: 2rem;
}

.readmore{

}

/* Class Offerings */
.body3{
  background-color: #babbbc;
}

.header3{
  display: block;
  font-size: 3.5rem;
  text-align: center;
  padding: 2rem 0;
}

.header span{
  justify-content: center;
}
.classes{
  display: inline-block;
  padding: 2rem 72px;
}

.class{
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  width: 33%;
}

.class img{
  height: auto;
  width: 100%;
}
.classcontent{
  padding-bottom: 1.5rem;
}

.row1{
  display: flex;
}

.row2{
  display: flex;
}

.classtype span{
  padding-left: 1.5rem;
}
.courses span{
  padding-left: 1.5rem;
}
.classcontent{
  padding-left: 1.5rem;
}

/* Body4 */
.body4{
  display: flex;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.header4{
  padding-bottom: 2rem;
  padding-top: 2rem;
  display: block;
  font-size: 3rem;
  text-align: center;
}

.header4 span{
  justify-content: center;
}

.banner4{
  display: inline-block;
  padding-right: 1.5rem;
  width: 60%;
  padding-left: 1.5rem;
}

.title4{
  padding-top: 2rem;
  padding-bottom: .5rem;
  font-size: 2rem;
  color: red;
}

.content4{

}

/* Side Styling */

.side4{
  display: flex;
  width: 40%;
  padding-top: 6.25rem;
}

.sidecontainer4{
  display: flex;
}

.sidetitle4{
  display:inline-block;
}

.sidecontent4{
  display: inline-block;
}

.sideflex{
  display: inline-block;
}

video{
  width: 100%;
}

.sidecontainer4 img{
  width: 35%;
  height: 100%;
  padding: 1rem;
}

.sideheader4 span{
  font-size: 2rem;
  font-style: bold;
  color: red;
  display: block;
  padding-bottom: 1rem;
}

.sidecontent4{
  display: block;
}

.sideside4{
  display: block;
  padding-top: 2rem;
}

/* Footer */
footer{
  display: flex;
  width: 100%;
  border: 1px grey solid;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-bottom: 4rem;
}

.terms{
  display: inline-block;
}

.footcontent{
  display: flex;
}
