html{
  font-size: 16px;
}

.container{
  display: flex;
  width: 100%;
}
/* Header */
header{
  display: inline-block;
  background-color: white;
  height: 4rem;
  width: 100%;
  margin-bottom: 1rem;
}

header .logo{
  display: flex;
  margin-bottom: 1rem;
}

header img{
  display: inline-block;
  padding-left: 1.5rem;
}

nav{
  display: inline-block;
}

nav a{
  padding: 1rem;
  color: black;
}
nav span{

}

header nav{
  justify-content: flex-end;
}

h1{
  font-size: 2rem;
}

/* Body1 */
.body1{
  background-color: #babbbc;
  display: flex;
}

.body1 img{
  width: 60%;
  padding: 2rem 1.5rem;
}

h2{
  font-size: 4rem;
}

p{
  justify-content: flex-start;
}

.button{
  margin-top: 2rem;
  font-size: 1.5rem;
  border: 1px solid black;
  padding: 1rem;
  text-align: center;
  width: 25rem;
  background-color: #707070;
  color: white;
  transition: color 0 ease-in 100ms;
  font-family: "Montserrat:700" serif;
}

.button:hover{
  color: black;
  background-color: white;
}

.button:active{
  color: blue;
}

.button:visited{
  color: maroon;
}

.banner1{
  display: inline-flex;
  padding-left: 1.5rem;
  justify-content: center;
  flex-direction: column;
}

/* Body Pt. 2 */
.body2 img{
  padding: 2rem 1.5rem;
  width: 100%;
}

.content2{
  width: 60%
}

.banner2{
  border: 1px grey solid;
  margin-left: 2rem;
  width: 40%;
  display: inline-block;
}

.info2 img{
  width: 35%;
  margin: auto;
}

.info2{
  padding-left: 1rem;
  display: flex;
}

.title{
  font-weight: bold;
  font-size: 1.5rem;
}
.info-content {
  justify-content: center;
}

h3{
  font-size: 4rem;
  font-weight: bold;
}

.quote{
  font-size: .75rem;
  padding-bottom: 2rem;
}

.readmore{
  
}
